body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #4c4ce0 0%, #00d4ff 100%);
  font-family: monospace, Arial, Helvetica;
}

header {
  text-align: center;
}

.weather-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
}

button {
  position: relative;
  bottom: 35px;
  left: 140px;
  border: none;
  border-radius: 12px;
  width: 40px;
  height: 30px;
  background-color: white;
}

img {
  width: 35px;
  height: 35px;
}

#current-forecast-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hourly-forecast-parent {
  display: none;
  flex-direction: column;
  min-width: 300px;
  border-radius: 25px;
  padding: 15px;
  color: white;
  background-color: rgb(109, 108, 108);
}

#hourly-forecast-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hourly-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#daily-forecast-div {
}
